<h1>Welcome To TweetFame</h1>
<br>

<div class='center'>
  <a href="/users/new" class="btn btn-info">Sign up for TweetFame</a>
  <a href="/login" class="btn btn-success">Already signed up? Login!</a>
</div>
