// Example using 'Cerulean' bootswatch
//
// First import cerulean variables
@import "bootswatch/slate/variables";

// Then bootstrap itself
@import "bootstrap-sprockets";
@import "bootstrap";


// And finally bootswatch style itself
@import "bootswatch/slate/bootswatch";

h4 {
  padding-left: 3rem;
}

.status {
  color: #00FF7F;
}

.input {
  color: #FFE4E1;
}

.navbar-brand {
  padding-left: 2rem;
  brand {
    padding-left: 1rem;
  }
}

.navbar-brand brand {
  padding-left: 1rem;
}
